h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 4rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem; }

main {
  padding: 4rem;
  height: 100%; }
  main.intro-container {
    overflow: hidden; }
    main.intro-container h1 {
      margin-top: 20vh; }
